<div class="container">
  <div class="card text-center m-3">
    <div class="card-header">
      <h2><%= @user.full_name %></h2>
    </div>
    <div class="card-body">
      <% if @user.photo %>
        <%= image_tag(@user.photo.url, class:"card-img-top w-25 m-2 rounded-circle") %>
        </br>
      <% else %>
        <img class="card-img-top w-25 m-2 rounded-circle" src="https://i0.wp.com/hifadhiafrica.org/wp-content/uploads/2017/01/default-placeholder.png" alt="Profile Photo"></br>
      <% end %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Change Profile Photo
      </button>
    </div>
    <div class="card-footer">
      <h5 class="card-title m-2">User Details:</h5>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Full Name
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div id="edit-1" class="card-body d-none">
            <%= form_with scope: :user, url: user_path(@user.id), method: :patch, local: true do |f| %>
              <%= f.text_field :full_name, class:"form-control" %>
              <%= f.submit "Save Change", class:"btn btn-success btn-block mt-2" %>
            <% end %>
          </div>
          <div id="show-1" class="card-body">
            <%= @user.full_name %>
            <button type="button" class="btn btn-warning btn-edit-user btn-block mt-2" value="1">Edit</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Email Address
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div id="edit-2" class="card-body d-none">
            <%= form_with scope: :user, url: user_path(@user.id), method: :patch, local: true do |f| %>
              <%= f.text_field :email, class:"form-control" %>
              <%= f.submit "Save Change", class:"btn btn-success btn-block mt-2" %>
            <% end %>
          </div>
          <div id="show-2" class="card-body">
            <%= @user.email %>
            <button type="button" class="btn btn-warning btn-edit-user btn-block mt-2" value="2">Edit</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Phone Number
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div id="edit-3" class="card-body d-none">
            <%= form_with scope: :user, url: user_path(@user.id), method: :patch, local: true do |f| %>
              <%= f.text_field :phone_number, class:"form-control" %>
              <%= f.submit "Save Change", class:"btn btn-success btn-block mt-2" %>
            <% end %>
          </div>
          <div id="show-3" class="card-body">
            <%= @user.phone_number %>
            <button type="button" class="btn btn-warning btn-edit-user btn-block mt-2" value="3">Edit</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Address Line 1
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div id="edit-4" class="card-body d-none">
            <%= form_with scope: :user, url: user_path(@user.id), method: :patch, local: true do |f| %>
              <%= f.text_field :address_line1, class:"form-control" %>
              <%= f.submit "Save Change", class:"btn btn-success btn-block mt-2" %>
            <% end %>
          </div>
          <div id="show-4" class="card-body">
            <%= @user.address_line1 %>
            <button type="button" class="btn btn-warning btn-edit-user btn-block mt-2" value="4">Edit</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              City
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div id="edit-5" class="card-body d-none">
            <%= form_with scope: :user, url: user_path(@user.id), method: :patch, local: true do |f| %>
              <%= f.text_field :city, class:"form-control" %>
              <%= f.submit "Save Change", class:"btn btn-success btn-block mt-2" %>
            <% end %>
          </div>
          <div id="show-5"class="card-body">
            <%= @user.city %>
            <button type="button" class="btn btn-warning btn-edit-user btn-block mt-2" value="5">Edit</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              State
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
          <div id="edit-6" class="card-body d-none">
            <%= form_with scope: :user, url: user_path(@user.id), method: :patch, local: true do |f| %>
              <%= f.text_field :state, class:"form-control" %>
              <%= f.submit "Save Change", class:"btn btn-success btn-block mt-2" %>
            <% end %>
          </div>
          <div id="show-6" class="card-body">
            <%= @user.state %>
            <button type="button" class="btn btn-warning btn-edit-user btn-block mt-2" value="6">Edit</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSeven">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Postcode
            </button>
          </h5>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
          <div id="edit-7" class="card-body d-none">
            <%= form_with scope: :user, url: user_path(@user.id), method: :patch, local: true do |f| %>
              <%= f.text_field :postcode, class:"form-control" %>
              <%= f.submit "Save Change", class:"btn btn-success btn-block mt-2" %>
            <% end %>
          </div>
          <div id="show-7" class="card-body">
            <%= @user.postcode %>
            <button type="button" class="btn btn-warning btn-edit-user btn-block mt-2" value="7">Edit</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingEight">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              Country
            </button>
          </h5>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
          <div id="edit-8" class="card-body d-none">
            <%= form_with scope: :user, url: user_path(@user.id), method: :patch, local: true do |f| %>
              <%= f.select :country, options_for_select(User.country_list), class:"form-control" %>
              <%= f.submit "Save Change", class:"btn btn-success btn-block mt-2" %>
            <% end %>
          </div>
          <div id="show-8" class="card-body">
            <%= @user.country %>
            <button type="button" class="btn btn-warning btn-edit-user btn-block mt-2" value="8">Edit</button>
          </div>
        </div>
      </div>
    </div>
    <%= link_to "Delete Account", user_path(@user.id), method: :delete, data: { confirm:"Are you sure you wish to remove your account? This will also remove all listings & reservations made by you!" }, class:"btn btn-danger btn-lg btn-block mt-2"  %>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= form_with scope: :user, url: user_path(@user.id), method: :patch, local: true do |f| %>
            <%= f.file_field :photo, class:"form-control" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Save Change", class:"btn btn-success" %>
      <% end %>
      </div>
    </div>
  </div>
</div>