<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application' %>
  <%= csrf_meta_tag %>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">AnotherBnB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "Become A Host", new_listing_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "View Listings", listings_path, class:"nav-link" %>
        </li>
      </ul>
    </div>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <% if signed_in? -%>
      <ul class="navbar-nav">
        <li class="nav-item dropleft">
          <img id="navbarDropdown" class="dropdown-toggle ml-3" src="https://vignette.wikia.nocookie.net/bungostraydogs/images/1/1e/Profile-icon-9.png/revision/latest?cb=20171030104015" style="width: 40px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          </a>
          <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
            <%= link_to "My Profile", user_path(current_user.id), class:"dropdown-item" %>
            <%= link_to "My Reservations", reservations_path(current_user.id), class:"nav-link" %>
            <div class="dropdown-divider"></div>
            <%= link_to t(".sign_out"), sign_out_path, method: :delete, class:"nav-link" %>
          </div>
        </li>
      </ul>
      <% else -%>
      <div id="header">
          <%= link_to t(".sign_in"), sign_in_path %>
      </div>
      <% end -%>
  </nav>

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
